* {
  box-sizing: border-box;
  font-size: 16px;
}

.App {
  width: 100%;
}

.masthead {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  height: 1.5rem;

  .text {
    color: #5B5B5B;
    font-size: 0.7rem;
    font-weight: 400;
    padding-left: 0.25rem;

    span.emphasis {
      font-size: 0.7rem;
      font-weight: 600;
    }
  }
}

@media (min-width: 350px) {
  .masthead {
    padding: 0rem 1rem 0rem 1rem;
  }
}

@media (min-width: 960px) {
  .masthead {
    padding: 0rem 10rem 0rem 10rem;
  }
}

.search {
  background-color: #FFFFFF;
}

.search-bar-background {
  height: 152px;
  box-shadow: 0px 4px 8px 4px #E0E4E559;
}

@media (min-width: 350px) {
  .search-bar {
    padding: 48px 1rem 0px 1rem;
  }
}

@media (min-width: 960px) {
  .search-bar {
    padding: 48px 160px 0px 160px;
  }
}

.search-bar input {
  height: 56px;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #1C76D5;
}

@media (min-width: 350px) {
  .search-bar input {
    width: 100%;
    padding-left: 1rem;
  }
}

@media (min-width: 960px) {
  .search-bar input {
    max-width: 1120px;
    padding-left: 1.5rem;
  }
}

.search-bar input.dropdown-shown {
  border-radius: 8px 0px 8px 0px;
}

.search-bar button.clear {
  background-color: #FFFFFF;
  border: 1px;
  padding-right: 1rem;
}

.search-bar button.search {
  background-color: #1C76D5;
  color: #FFFFFF;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #1C76D5;
}

@media (min-width: 350px) {
  .search-bar button.clear {
    margin-left: -138px;
  }

  .search-bar button.search {
    width: 100px;
  }
}

@media (min-width: 960px) {
  .search-bar button.clear {
    margin-left: -198px;
  }

  .search-bar button.search {
    width: 160px;
  }
}

.search-bar button.search .label {
  margin-top: -1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.dropdown {
  position: relative;
  background-color: #FFFFFF;
  min-width: 350px;
  max-width: 960px;
  height: auto;
  padding: 8px 0px 8px 0px;
  gap: 10px;
  opacity: 0px;
}

@media (min-width: 350px) {
  .dropdown {
    width: calc(100% - 2rem - 100px);
    left: 1rem;
  }
}

@media (min-width: 960px) {
  .dropdown {
    width: calc(100% - 480px);
    left: 160px;
  }
}

.dropdown:hover, .dropdown-selected {
  position: relative;
  background-color: #F0F0F0;
  width: 960px;
  height: auto;
  left: 160px;
  padding: 8px 0px 8px 0px;
  gap: 10px;
  border-radius: 0px 0px 8px 8px;
  opacity: 0px;
}

.dropdown div.element, .dropdown-selected div.element {
  width: 960px;
  height: 43px;
  padding: 0.75rem 1.5rem;
  gap: 12px;
  opacity: 0px;
}

.search-results {
  height: 2000px;
  padding: 0px 160px 0px 160px;
}

.pagination {
  height: 28px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  left: 160px;

  span {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
  }
}

.search-result {
  margin-bottom: 1rem;
  /* gap: 1rem; */
}

.search-result-title {
  /* gap: 12px; */
  padding: 12px 0;

  span {
    color: #1C76D5;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
  }
}

.search-result-excerpt {
  width: 832px;
  height: auto;
  /* gap: 20px; */
  gap: 0;
  opacity: 0px;

  span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.14000000059604645px;
    text-align: left;
  }
}

.search-result-uri {
  padding: 12px 0;
  /* gap: 0; */

  a {
    color: #686868;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.11999999731779099px;
    text-align: left;
    text-decoration: none;
  }
}