* {
  box-sizing: border-box;
  font-size: 16px;
}

.App {
  width: 1440px;
}

.masthead {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  height: 1.5rem;
  padding: 0rem 10rem 0rem 10rem;

  .text {
    color: #5B5B5B;
    font-size: 0.7rem;
    font-weight: 400;
    padding-left: 0.25rem;

    span.emphasis {
      font-size: 0.7rem;
      font-weight: 600;
    }
  }
}

.search {
  background-color: #FFFFFF;
}

.search-bar-background {
  height: 152px;
  box-shadow: 0px 4px 8px 4px #E0E4E559;
}

.search-bar {
  padding: 48px 0px 0px 160px;

  input {
    height: 56px;
    width: 1120px;
    padding-left: 1.5rem;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #1C76D5;
  }

  input.dropdown-shown {
    border-radius: 8px 8px 8px 0px;
  }

  button.clear {
    background-color: #FFFFFF;
    border: 1px;
    margin-left: -198px;
    padding-right: 1rem;
  }

  button.search {
    background-color: #1C76D5;
    color: #FFFFFF;
    height: 56px;
    width: 160px;
    /* margin-left: -160px; */
    border-radius: 8px;
    border: 1px solid #1C76D5;

    .label {
      margin-top: -1px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
    }
  }
}

.dropdown {
  position: relative;
  background-color: #FFFFFF;
  width: 960px;
  height: auto;
  left: 160px;
  padding: 8px 0px 8px 0px;
  gap: 10px;
  border-radius: 0px 0px 8px 8px;
  opacity: 0px;
}

.dropdown:hover, .dropdown-selected {
  position: relative;
  background-color: #F0F0F0;
  width: 960px;
  height: auto;
  left: 160px;
  padding: 8px 0px 8px 0px;
  gap: 10px;
  border-radius: 0px 0px 8px 8px;
  opacity: 0px;
}

.dropdown div.element, .dropdown-selected div.element {
  width: 960px;
  height: 43px;
  padding: 0.75rem 1.5rem;
  gap: 12px;
  opacity: 0px;
}

.search-results {
  height: 2000px;
  padding: 0px 160px 0px 160px;
}

.pagination {
  height: 28px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  left: 160px;

  span {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
  }
}

.search-result {
  margin-bottom: 1rem;
  /* gap: 1rem; */
}

.search-result-title {
  /* gap: 12px; */
  padding: 12px 0;

  span {
    color: #1C76D5;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
  }
}

.search-result-excerpt {
  width: 832px;
  height: auto;
  /* gap: 20px; */
  gap: 0;
  opacity: 0px;

  span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.14000000059604645px;
    text-align: left;
  }
}

.search-result-uri {
  padding: 12px 0;
  /* gap: 0; */

  a {
    color: #686868;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.11999999731779099px;
    text-align: left;
    text-decoration: none;
  }
}