.masthead {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  height: 24px;
  padding: 0px 160px 0px 160px;

  .text {
    color: #5B5B5B;
    font-size: 10px;
    font-weight: 400;
    padding-left: 5px;

    span.emphasis {
      font-weight: 600;
    }
  }
}
